.profile {
	display: flex;
	gap: 50px;

	&__image {
		width: 150px;
		height: 150px;
		border-radius: 50%;
		background-color: $greenLight;
	}

	&__username {
		margin: 20px 0;
		font-size: 48px;
		font-weight: 900;
	}

}
