<section class="about" id="about">
	<div class="container about__container">
		<div class="about__content">
			<p class="about__overhead overhead">О нас</p>
			<h2 class="about-title title">Почему выбирают нас?</h2>
			<p class="about__subtitle subtitle">
				Мы гарантируем качество высочайшего уровня. Только профессиональный подход в любых мелочах.
				Наши работы говорят сами за себя.
			</p>
			<p class="about__paragraph paragraph">
				Студия Divan Records – это возможность недорого порепетировать с группой, записать песню и найти благодарных
				слушателей.
			</p>
			<p class="about__paragraph paragraph">
				Оборудование и акустические параметры помещений в которых проводится запись соответствуют самым высоким требованиям и уровню качества материалов. Мы поможем вам обрести своих поклонников и добиться ошеломительного успеха!
			</p>
		</div>
		<div class="about__image">
			<img src="@images/about.png" alt="About Image">
		</div>
	</div>
</section>