<section class="big">
	<div class="container big__container">
		<div class="big__image">
			<img src="@images/big.jpg" alt="Big-room Image">
		</div>
		<div class="big__content">
			<h3 class="big__title title">Большая комната</h3>
			<p class="big__subtitle subtitle">
				Отличный выбор для репетиции полноценной большой группы более 4 человек.
			</p>
			<p class="big__paragraph paragraph">
				В комнате расположены:
			<ul class="big__list">
				<li class="big__item">
					<p class="big__paragraph paragraph">
						кабинка для звукорежиссера, записывающий материал;
					</p>
				</li>
				<li class="big__item">
					<p class="big__paragraph paragraph">
						акустические ударные с громким железом;
					</p>
				</li>
				<li class="big__item">
					<p class="big__paragraph paragraph">
						микшерный пульт;
					</p>
				</li>
				<li class="big__item">
					<p class="big__paragraph paragraph">
						2 акустические системы и 2 основных микрофона к ним;
					</p>
				</li>
				<li class="big__item">
					<p class="big__paragraph paragraph">
						2 гитары и 2 гитарных усилителя;
					</p>
				</li>
				<li class="big__item">
					<p class="big__paragraph paragraph">
						бас и басовый усилитель;
					</p>
				</li>
				<li class="big__item">
					<p class="big__paragraph paragraph">
						все необходимые для репетиции провода, кабеля;
					</p>
				</li>
				<li class="big__item">
					<p class="big__paragraph paragraph">
						кондиционер;
					</p>
				</li>
				<li class="big__item">
					<p class="big__paragraph paragraph">
						склад для хранения оборудования;
					</p>
				</li>
				<li class="big__item">
					<p class="big__paragraph paragraph">
						диван, на котором можно отдохнуть после тяжелой репетиции;
					</p>
				</li>
			</ul>
			</p>
		</div>
	</div>
</section>