<section class="contacts" id="contacts">
	<div class="container contacts__container">
		<div class="contacts__content">
			<div class="contacts__text">
				<p class="contacts__overhead overhead">Cвязь с нами</p>
				<h2 class="contacts__title title">Оставьте свою заявку</h2>
			</div>
			<div class="contacts__image">
				<img src="@images/form.png" alt="Form">
			</div>
		</div>
		<form id="form" class="contacts__form form" action="">
			<h3 class="form__title title">Мы позвоним вам в удобное время</h3>
			<label class="form__label">
				<span>Имя</span>
				<input id="form-name" class="form__input" type="text" placeholder="Иван">
				<div class="modal-form__error"></div>
			</label>
			<label class="form__label">
				<span>Номер телефона</span>
				<input id="form-phone" class="form__input" placeholder="+79001234567">
				<div class="modal-form__error"></div>
			</label>
			<div class="form__checkbox custom-checkbox">
				<input type="checkbox" class="custom-checkbox__input" id="check" name="check" value="yes">
				<label class="custom-checkbox__label" for="check">
					<div id="check-text" class="custom-checkbox__text">
						Даю согласие на обработку <span>персональных данных</span>
					</div>
				</label>
			</div>
			<button class="form__button button" type="submit">Отправить заявку</button>
		</form>
	</div>
</section>