<section class="services" id="services">
	<div class="container services__container">
		<h2 class="services__title title">Услуги</h2>
		<div class="services__accord accord">
			<ul class="accord__list">
				<li class="accord__item">
					<div class="accord__top">
						<span>
							Репетиция в большой комнате
						</span>
					</div>
					<div class="accord__bottom">
						<div class="accord__bottom-inner">
							<div class="accord__text">
								<p><span>400р/час</span>, при аренде не менее 2х часов</p>
								<p>Аренда часа - <span>500р</span></p>
								<p>После 00:00 цена за час репетиции увеличивается на <span>100р</span></p>
								<p>Педаль для бочки есть <span>по умолчанию</span></p>
							</div>
							<button class="accord__button button">
								Записаться
							</button>
						</div>
					</div>
				</li>
				<li class="accord__item">
					<div class="accord__top">
						<span>
							Аренда вокальной комнаты
						</span>
					</div>
					<div class="accord__bottom">
						<div class="accord__bottom-inner">
							<div class="accord__text">
								<p><span>250р/час</span></p>
								<p>Клавиши <span>по умолчанию</span></p>
								<p>После 00:00 цена за час репетиции увеличивается на <span>100р</span></p>
							</div>
							<button class="accord__button button">
								Записаться
							</button>
						</div>
					</div>
				</li>
				<li class="accord__item">
					<div class="accord__top">
						<span>
							Запись песни
						</span>
					</div>
					<div class="accord__bottom">
						<div class="accord__bottom-inner">
							<div class="accord__text">
								<p>Голос/инструмент - <span>1000р/час</span></p>
								<p>
									<p>Гитара:</p>
									<p>аналог - <span>1300р/час</span></p>
									<p>цифра (Fractal Axe Fx ll Xl) - <span>1000р/час</span></p>
								</p>
								<p>Живые барабаны - <span>1500р/час</span> "грязного" времени, с отстройкой</p>
								<p>Мультитрек (одновременная запись группы) - <span>2000-3000р/час</span>, в зависимости от состава.
								</p>
							</div>
							<button class="accord__button button">
								Записаться
							</button>
						</div>
					</div>
				</li>
				<li class="accord__item">
					<div class="accord__top">
						<span>
							Сведение/Обработка/Мастеринг
						</span>
					</div>
					<div class="accord__bottom">
						<div class="accord__bottom-inner">
							<div class="accord__text">
								<p>Песня под минус - от <span>2000р</span></p>
								<p>Песня группы - от <span>5000р</span></p>
							</div>
							<button class="accord__button button">
								Записаться
							</button>
						</div>
					</div>
				</li>
			</ul>
			<ul class="accord__list">
				<li class="accord__item">
					<div class="accord__top">
						<span>
							Репетиция в малой комнате
						</span>
					</div>
					<div class="accord__bottom">
						<div class="accord__bottom-inner">
							<div class="accord__text">
								<p><span>300р/час</span>, при аренде не менее 2х часов</p>
								<p>Аренда часа - <span>400р</span></p>
								<p>После 00:00 цена за час репетиции увеличивается на <span>100р</span></p>
								<p>Педаль для бочки есть <span>по умолчанию</span></p>
							</div>
							<button class="accord__button button">
								Записаться
							</button>
						</div>
					</div>
				</li>
				<li class="accord__item">
					<div class="accord__top">
						<span>
							Аренда музыкальных инструментов
						</span>
					</div>
					<div class="accord__bottom">
						<div class="accord__bottom-inner">
							<div class="accord__text">
								<p>Клавишные - <span>100р/час</span></p>
								<p>Бас гитара - <span>100р/час</span></p>
								<p>Гитара электро - <span>100р/час</span></p>
								<p>Гитара акустика - <span>100р/час</span></p>
								<p>Кардан - <span>100р/час</span></p>
								<p>Ламповый комбик Marshall DSL 40 - <span>500р/на всю репетицию</span></p>
								<p>Железо - <span>100р/час</span></p>
							</div>
						</div>
					</div>
				</li>
				<li class="accord__item">
					<div class="accord__top">
						<span>
							Услуги диктора
						</span>
					</div>
					<div class="accord__bottom">
						<div class="accord__bottom-inner">
							<div class="accord__text">
								<p>Профессионально озвучить текст - <span>2000р</span></p>
								<p>Любой сложности на руском и иностранном языке</p>
							</div>
							<button class="accord__button button">
								Записаться
							</button>
						</div>
					</div>
				</li>
				<li class="accord__item">
					<div class="accord__top">
						<span>
							Продюсирование материала
						</span>
					</div>
					<div class="accord__bottom">
						<div class="accord__bottom-inner">
							<div class="accord__text">
								<p>Аранжировка песни - от <span>10000р</span></p>
								<p>Продюсирование - по договорённости</p>
							</div>
							<button class="accord__button button">
								Записаться
							</button>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</section>