<section class="slider">
	<div class="container slider__container">
		<div class="slider__text">
			<div class="slider__title title">Наше оборудование</div>
			<p class="slider__subtitle">
				Наша студия обладает всем необходимым высококачественным оборудованием.
			</p>
		</div>
		<div class="slider__wrapper">
			<div class="swiper">
				<div class="swiper-wrapper">
					<div class="slider__slide swiper-slide slide">
						<div class="slide__image">
							<img src="@images/headphones.jpg" alt="Slide Image">
							<div class="slide__mask"></div>
						</div>
						<div class="slide__text">
							<h4 class="slide__overhead overhead">
								Наушники профессиональные
							</h4>
							<p class="slide__subtitle subtitle">
								Beyerdynamic DT 770 PRO 250 ohms
							</p>
						</div>
					</div> <!-- наушники -->

					<div class="slider__slide swiper-slide slide">
						<div class="slide__image">
							<img src="@images/monitors.jpg" alt="Slide Image">
							<div class="slide__mask"></div>
						</div>
						<div class="slide__text">
							<h4 class="slide__overhead overhead">
								Студийные мониторы
							</h4>
							<p class="slide__subtitle subtitle">
								Midiplus MI5 II
							</p>
						</div>
					</div> <!-- студийные мониторы -->

					<div class="slider__slide swiper-slide slide">
						<div class="slide__image">
							<img src="@images/drums.jpg" alt="Slide Image">
							<div class="slide__mask"></div>
						</div>
						<div class="slide__text">
							<h4 class="slide__overhead overhead">
								Акустические ударные
							</h4>
							<p class="slide__subtitle subtitle">
								Sonor 17500410 AQ1 Stage Set P 11234
							</p>
						</div>
					</div> <!-- барабаны -->

					<div class="slider__slide swiper-slide slide">
						<div class="slide__image">
							<img src="@images/guitar.jpg" alt="Slide Image">
							<div class="slide__mask"></div>
						</div>
						<div class="slide__text">
							<h4 class="slide__overhead overhead">
								Электрогитара
							</h4>
							<p class="slide__subtitle subtitle">
								GIBSON SG Tribute Vintage Cherry Satin
							</p>
						</div>
					</div> <!-- гитара -->

					<div class="slider__slide swiper-slide slide">
						<div class="slide__image">
							<img src="@images/combo.jpg" alt="Slide Image">
							<div class="slide__mask"></div>
						</div>
						<div class="slide__text">
							<h4 class="slide__overhead overhead">
								Усилитель для гитары
							</h4>
							<p class="slide__subtitle subtitle">
								FENDER CHAMPION 50XL
							</p>
						</div>
					</div> <!-- усилитель -->

					<div class="slider__slide swiper-slide slide">
						<div class="slide__image">
							<img src="@images/micro.jpg" alt="Slide Image">
							<div class="slide__mask"></div>
						</div>
						<div class="slide__text">
							<h4 class="slide__overhead overhead">
								Микрофон
							</h4>
							<p class="slide__subtitle subtitle">
								SHURE BETA 58A
							</p>
						</div>
					</div> <!-- микрофон -->

					<div class="slider__slide swiper-slide slide">
						<div class="slide__image">
							<img src="@images/acoustic.jpg" alt="Slide Image">
							<div class="slide__mask"></div>
						</div>
						<div class="slide__text">
							<h4 class="slide__overhead overhead">
								Акустические системы
							</h4>
							<p class="slide__subtitle subtitle">
								LD Systems SAT 62 G2
							</p>
						</div>
					</div> <!-- акустическая система -->

					<div class="slider__slide swiper-slide slide">
						<div class="slide__image">
							<img src="@images/bass.jpg" alt="Slide Image">
							<div class="slide__mask"></div>
						</div>
						<div class="slide__text">
							<h4 class="slide__overhead overhead">
								Бас-гитара
							</h4>
							<p class="slide__subtitle subtitle">
								IBANEZ GSR200B-WNF
							</p>
						</div>
					</div> <!-- бас -->

					<div class="slider__slide swiper-slide slide">
						<div class="slide__image">
							<img src="@images/focus.jpg" alt="Slide Image">
							<div class="slide__mask"></div>
						</div>
						<div class="slide__text">
							<h4 class="slide__overhead overhead">
								Звуковые карты и интерфейсы
							</h4>
							<p class="slide__subtitle subtitle">
								FOCUSRITE Scarlett 18i20 3rd Gen
							</p>
						</div>
					</div> <!-- звуковуха -->
				</div>
			</div>
			<div class="slider__button-box">
				<button class="slider__prev">
					<svg width="50" height="51" viewBox="0 0 50 51" fill="none" xmlns="http://www.w3.org/2000/svg">
						<circle cx="25" cy="25.002" r="24" transform="rotate(-180 25 25.002)" stroke="#1D2736" stroke-width="2" />
						<line x1="32" y1="25.002" x2="18" y2="25.002" stroke="#1D2736" stroke-width="2" stroke-linecap="round" />
						<line x1="20.5858" y1="29.002" x2="17" y2="25.4162" stroke="#1D2736" stroke-width="2"
							stroke-linecap="round" />
						<line x1="21" y1="21.4162" x2="17.4142" y2="25.002" stroke="#1D2736" stroke-width="2"
							stroke-linecap="round" />
					</svg>
				</button>
				<button class="slider__next">
					<svg width="50" height="51" viewBox="0 0 50 51" fill="none" xmlns="http://www.w3.org/2000/svg">
						<circle cx="25" cy="25.002" r="24" stroke="#1D2736" stroke-width="2" />
						<line x1="18" y1="25.002" x2="32" y2="25.002" stroke="#1D2736" stroke-width="2" stroke-linecap="round" />
						<line x1="29.4142" y1="21.002" x2="33" y2="24.5877" stroke="#1D2736" stroke-width="2"
							stroke-linecap="round" />
						<line x1="29" y1="28.5877" x2="32.5858" y2="25.002" stroke="#1D2736" stroke-width="2"
							stroke-linecap="round" />
					</svg>
				</button>
			</div>
		</div>
	</div>
</section>