<section class="small">
	<div class="container small__container">
		<div class="small__content">
			<h2 class="small__title title">Малая комната</h2>
			<p class="small__subtitle subtitle">
				Отличный выбор для репетиции группы состоящей из 3-4 человек.
			</p>
			<p class="small__paragraph paragraph">
				В комнате расположены:
			<ul class="small__list">
				<li class="small__item">
					<p class="small__paragraph paragraph">
						акустические ударные с тихим железом;
					</p>
				</li>
				<li class="big__item">
					<p class="big__paragraph paragraph">
						микшерный пульт;
					</p>
				</li>
				<li class="small__item">
					<p class="small__paragraph paragraph">
						3 акустические системы и 2 основных микрофона к ним;
					</p>
				</li>
				<li class="small__item">
					<p class="small__paragraph paragraph">
						2 гитарных усилителя;
					</p>
				</li>
				<li class="small__item">
					<p class="small__paragraph paragraph">
						басовый усилитель;
					</p>
				</li>
				<li class="big__item">
					<p class="big__paragraph paragraph">
						все необходимые для репетиции провода, кабеля;
					</p>
				</li>
				<li class="big__item">
					<p class="big__paragraph paragraph">
						кондиционер;
					</p>
				</li>
			</ul>
			</p>
		</div>
		<div class="small__image">
			<img src="@images/small.jpg" alt="Small-room Image">
		</div>
	</div>
</section>