$primary: #1A1D20;
$secondary: #656972;
$mercury: #E9E9E9;
$orange: #FFAC3E;
$orangeLight: #FFE5C2;
$green: #009141;
$greenLight: #D9EBE9;
$red: #EB404E;
$black: #000;
$white: #fff;

$extraLarge: 1200px;
$large: 992px;
$medium: 768px;
$small: 576px;